table {
  border-collapse: collapse;
  width: 100%;
}

table tr td, table tr th {
  border: 1px solid black;
  padding: 1px;
}

th .current {
  padding-right: 18px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1em 1em;

  &.ASC {
    background-image: image-url('sort_arrow_up.png');
  }

  &.DESC {
    background-image: image-url('sort_arrow_down.png');
  }

}