// Colors - http://paletton.com/#uid=43A0u0kllll26xq9pllzQllUIac
$primary: #2B4C6F;	        // Main Primary color */
$primary-light: #A0A5AA;
$primary-grey: #515F6F;
$primary-mid: #073A6F;
$primary-dark: #011A35;

$secondary: #AA9039;	    // Main Secondary color */
$secondary-light: #FFFBEE;
$secondary-grey: #AA9F78;
$secondary-mid: #AA8300;
$secondary-dark: #513F00;

$tertiary: #AA5F39;	        // Main Tertiary color */
$tertiary-light: #FFF4EE;
$tertiary-grey: #AA8978;
$tertiary-mid: #AA3900;
$tertiary-dark: #511B00;

$complement: #AA7D39;	    // Main Complement color */
$complement-light: #FFF8EE;
$complement-grey: #AA9678;
$complement-mid: #AA6600;
$complement-dark: #513100;


html, body, form, fieldset, table, tr, td, img {
  margin: 0;
  padding: 0;
  font: 100%/150% arial,helvetica,sans-serif;
  color: $complement-grey;
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

html {
  background-color: $primary;
}

body {
  margin: 0 1% 0 1%;
}

footer {
  font-size: x-small;
  position: fixed;
  bottom: 0;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 .25em 0;
}

a {
  color: $secondary-mid;

  &:visited {
    color: $secondary-mid;
  }

  &:hover {
    color: $secondary-light;
  }
}

label {
  display: block;

  &.has-action {
    float: left;
    display: inline-block;
  }
}

input, select, textarea {
  height: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: $complement-light;
  border: 1px solid $complement-dark;
  display: block;
}

input[type=submit] {
  border-radius: 3px;
  height: 25px;
}

textarea {
  height: 200px;
}


table {
  margin: 0 0 0 0;
  border-collapse: collapse;
  border: 1px solid $primary-dark;
  width: 100%;
}

table tr td, table tr th {
  text-align: left;
  padding: 1px 3px 1px 3px;
  color: $tertiary-dark;
  border-bottom: 1px solid $primary-dark;
}

tr {

  &:nth-child(odd) {
    background-color: $secondary-light;
  }

  &:nth-child(even) {
    background-color: $primary-light;
  }
}

.hidden {
  display: none;
}

.header {
  position: relative;
  padding-bottom: 12px;

  img{
    float: left;
  }

  h1 {
  font-size: 3em;
  position: relative;
  top: 10px;
  left: 5px;
  }
}

.alert {
  padding: .5em 1em;
  position: absolute;
  border: 1px solid $complement-dark;
  background-color: $tertiary-light;
  color: $complement-dark;
  top: 37%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.action {
  margin-right: 1px;

  &.new { float: right; }
  &.back { float: left; }
  &.in-label {
    font-size: .75em;
    text-align: right;
    vertical-align: baseline;
  }
  &.lock {
    position: absolute;
    margin: 1px 3px 0 0;
    top: 0;
    right: 0;
    z-index: 1;
  }

  img { vertical-align: text-top}

  a {
    text-decoration: none;
    color: $complement-grey;

    &:visited {
      color: $complement-grey;
    }

    &:hover {
      color: $complement-grey;
    }
  }
}

.relative-container {
  position: relative;
  width: 100%;
}

.flex-form {
  align-items: flex-start;
  background-color: $tertiary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  color: $primary-dark;
  display: flex;/* Makes this div contain its floats */
  flex-flow: row wrap;
  justify-content: flex-start;
  z-index: -1;

  a {
    color: $primary-dark;

    &:visited {
      color: $primary-dark;
    }

    &:hover {
      color: $primary-mid;
    }
  }

  .flex-form-item {
    // background-color: #2B4C6F;
    padding: 5px;
  }

  .fill-row {
    width: 100%;
  }
  .resize {
    flex-grow: 2;
  }

  .submit {
    align-self: flex-end;
  }
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}